header {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8; */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container-grey-background {
    background-color: #F5F5F7;
    padding-left: 20px;
    padding-right: 20px;
}

.page-container-white-background {
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}


body h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 5px;
}

body h2 {
    font-size: 30px;
    font-weight: 470;
    margin-top: 0px;
}

/* Styling the header section */
.header-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFFFFF;

    /* max-width: 1200px; */
    margin: 0 auto;
}

.apple-logo img {
    display: block;
}

.menu-items-main-container a {
    margin: 0 10px;
    text-decoration: none;
    color: #1D1D1F;
    font-weight: 400;
}

.menu-items-main-container a:hover {
    color: #0070c9
}

.menu-icons-main-container a {
    margin-left: 15px
}

/* Styling the hero product section */
.call-to-action-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F5F5F7;
}

/* Shop by category section */
.shop-by-category-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}

.shop-by-category-section p {
    font-size: 22px;
    font-weight: 510;
}

.products-category-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.product-category {
    width: 200px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.explore-buttons {
    padding: 10px;
    background-color: #0073EC;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    width: 120px;
    cursor: pointer;
    font-size: 15px;
}

.buy-buttons {
    padding: 10px;
    background-color: #FFFFFF;
    color: #0073EC;
    border-color: #0073EC;
    border-radius: 100px;
    width: 70px;
    cursor: pointer;

    font-size: 15px;
}

.explore-buttons:hover {
    background-color: #005BB5;
}

.buy-buttons:hover {
    background-color: #005BB5;
    border-color: #005BB5;
    color: #FFFFFF;
}

/* featured product section */
.featured-products-section {
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.featured-products-section h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 5px;
}

.featured-products-section p { 
    font-size: 22px;
    font-weight: 510;
    margin-top: 0px;
    margin-bottom: 0px;
}

.featured-product-buttons-main-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.featured-products-section img {
    border-radius: 30px;
}
.featured-products-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* styling product facts */
.product-facts h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
}

.fact-image {
    height: 400px;
    width: auto;
    border-radius: 30px;
    padding: 10px;
}

/* footer section */

.footer-main-container {
    flex: 1;
    flex-direction: column;
}

.footer-categories-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.footer-categories {
    display: flex;
    flex-direction: column;
}

.footer-categories a {
    text-decoration: none;
    color: #495B6E;
}

.footer-col {
    margin-left: 40px;
    margin-top: 40px;
}

#apple-logo {
    height: 30px;
    margin-top: 40px;
    width: auto;
}

/* styling the products */

.products-main-container {
    display: flex;
    flex-direction: column;
}

.products-card-main-container {
    text-align: center;
    align-items: center;
}

.product-card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 10px;
}
/* 
.product-card {
    padding: 10px;
    height: 70px;
    width: auto;
} */

.product-image-container img {
    height: 250px;
    width: auto;
    border-radius: 20px;
}

.product-info-main-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-info-main-container p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 375px;
}

.buy-button-products {
    margin-top: 5px;
    padding: 10px;
    background-color: #0073EC;
    color: #FFFFFF;
    border: none;
    border-radius: 100px;
    width: 70px;
    cursor: pointer;
    font-size: 15px;
}

.buy-button-products:hover {
    background-color: #005BB5;
}